@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/footer.css");
@import url("../blocks/profile.css");
@import url("../blocks/cards.css");
@import url("../blocks/card.css");
@import url("../blocks/popup.css");

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__input-error {
  color: #ff0000;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  display: none;
}

.popup__input-error_active {
  display: block;
}

.popup__button_disabled {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  opacity: 0.2;
  cursor: default;
}

.button-interactive:hover,
.popup__button:not(.popup__button_disabled):hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
